# inpatient charges

In [13]:
import pandas as pd
import sqlite3
import os

In [4]:
Inpatient = pd.read_csv("inpatientCharges.csv")

In [6]:
Inpatient.head(1)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,$32963.07,$5777.24,$4763.73

In [7]:
Inpatient.tail(1)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
163064,948 - SIGNS & SYMPTOMS W/O MCC,670068,TEXAS HEALTH PRESBYTERIAN HOSPITAL FLOWER MOUND,4400 LONG PRAIRIE ROAD,FLOWER MOUND,TX,75028,TX - Dallas,12,$15042.00,$3539.75,$2887.41

In [9]:
Inpatient.count()

DRG Definition                          163065
Provider Id                             163065
Provider Name                           163065
Provider Street Address                 163065
Provider City                           163065
Provider State                          163065
Provider Zip Code                       163065
Hospital Referral Region Description    163065
 Total Discharges                       163065
 Average Covered Charges                163065
 Average Total Payments                 163065
Average Medicare Payments               163065
dtype: int64

In [14]:
if os.path.exists("InpatientData.db"):
    os.remove("InpatientData.db")
    f = open("InpatientData.db", "w")
else:
    f = open("InpatientData.db", "w")

In [15]:
conn = sqlite3.connect("InpatientData.db")

In [16]:
Inpatient.to_sql("InpatientTable", conn, if_exists="replace")

C:\Users\Tiffany\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [17]:
query = """select distinct	"Provider State"
from InpatientTable;"""

In [18]:
sqdf = pd.read_sql_query(query, conn)

In [19]:
sqdf.head()

  Provider State
0             AL
1             AK
2             AZ
3             AR
4             CA

In [20]:
conn.close()

In [21]:
f.close()